@import '../../sass/mixins';
@import '../../sass/wrapper.scss';
@import '../../sass/media_mixin';

.authForm_conteiner {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        min-height: 90.7vh;
        @include _1600 { min-height: 90vh;}
        @include _1440 { min-height: 90.9vh;}
}
.authForm_conteiner:after {
    display: table-cell;
    content: "";
    overflow-y: scroll;
    visibility: hidden;
}

.authForm, .authForm_dark {
    // margin-top: vmax(200);
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    width: vmax(500);
    height: vmax(400);
    border-radius: vmax(5);
    @include _1600 {
        width: 30%;
        height: vmax(450);
    }
    @include _1440 {
        height: vmax(460);
    }
    @include _1280 {
        width: 37%;
        height: vmax(550);
    }
    @include _1024 {
        width: 40%;
        height: vmax(600);
    }
    @include _979 {
        width: 60vw;
        height: vmax(800);
    }
    @include _768 {
        width: 65%;
        height: vmax(900);
    }
    @include _600 {
        width: 90%;
        height: vmax(1000);
    }
    @include _480 {
        width: 98%;
    }
    @include _350 { width: 100%;}
        &_txt, &_txt_dark{
            font-size: vmax(31);
            font-family: 'Moon Dance', cursive;
            @include _1440{font-size: 2em;}
            @include _979{font-size: 2.5em;}
        }
        &_txt_dark {
            color: #46e2fd;
        }
        &_input_title_dark  {
            color: #adc0ff;
        }
        &_txt_dark, &_input_title_dark {      
            text-shadow: 0 0 vmax(3) white;
        }
        &_input_title, &_input_title_dark {
            margin-bottom: vmax(10);
            @include _979 { font-size: 1.2em; margin-bottom: vmax(15);}
        }
        &_input, &_input_dark {
            width: vmax(350);
            height: vmax(35);
            border: 1px solid black;
            border-radius: vmax(3);
            padding-left: vmax(15);
            font-size: vmax(18);
            letter-spacing: vmax(1.2);
            @include _1440 {width: 23em; height: vmax(39);}
            @include _1280 {width: 27em; height: vmax(44);}
            @include _979 {width: 33em; height: vmax(54);}
            @include _768 {width: 40em; height: vmax(60);}
            @include _600 {width: 48em; height: vmax(70);}
            @include _480 {width: 38em;}
            @include _350 { height: vmax(80); }
        }
        &_input_dark {
            background-color:#08121b;;
            color: whitesmoke;
            box-shadow: 0 0 vmax(3) 0 #adc0ff;
        }
}

.authForm {
    background: rgb(244,244,244);
    background: linear-gradient(90deg, rgba(244,244,244,1) 0%, rgba(233,233,233,1) 50%, rgba(218,218,218,1) 100%);
    box-shadow: 0 0 vmax(4) vmax(.1) black;
}

.authForm_dark {
    background: rgb(0,30,50);
    background: linear-gradient(90deg, rgb(0, 20, 34) 0%, rgb(2, 35, 59) 50%, rgb(6, 43, 70) 100%);
    box-shadow: 0 0 vmax(3) vmax(.1) #46e2fd;
}

.authForm_submitAuthButton, .authForm_submitAuthButton_dark  {
    font-size: vmax(18);
    font-family: 'Montserat', Helvetica, Arial, sans-serif;
    padding: 7px 15px;
    border: vmax(1) solid black;
    border-radius: vmax(5);
    color: white;
    @include _1280 { font-size: 1.2em;}
    @include _600 { font-size: 1.4em;}
}

.authForm_submitAuthButton {
    background: rgb(124,124,124);
    background: radial-gradient(circle, rgba(124,124,124,1) 0%, rgba(65,65,65,1) 77%, rgba(0,0,0,1) 100%);
    box-shadow: 0 0 0 vmax(1) black;
}


.authForm_submitAuthButton:hover {
    background: rgb(124,124,124);
    background: radial-gradient(circle, rgb(109, 109, 109) 0%, rgba(65,65,65,1) 77%, rgba(0,0,0,1) 100%);
    box-shadow: 0 0 0 vmax(.3) black;
}

.authForm_submitAuthButton:active {
    background: rgb(102,101,101);
    background: radial-gradient(circle, rgba(102,101,101,1) 0%, rgba(65,65,65,1) 86%, rgba(40,40,40,1) 96%);
    box-shadow: inset 0 vmax(1) vmax(.5) black;
}


.authForm_submitAuthButton_dark {
    background: rgb(0,135,187);
    background: radial-gradient(circle, rgba(0,135,187,1) 0%, rgba(0,107,149,1) 50%, rgba(0,83,116,1) 100%);
    box-shadow: 0 0 0 vmax(1) black;
}

.authForm_submitAuthButton_dark:hover {
    background: rgb(0,135,187);
    background: radial-gradient(circle, rgb(0, 118, 165) 0%, rgb(0, 95, 133) 50%, rgba(0,83,116,1) 100%);
    box-shadow: 0 0 0 vmax(.3) black;
}

.authForm_submitAuthButton_dark:active {
    background: rgb(0,105,145);
    background: radial-gradient(circle, rgba(0,105,145,1) 0%, rgba(0,92,129,1) 50%, rgba(0,83,116,1) 75%);
    box-shadow: inset 0 vmax(1) vmax(.5) black;
}