.serchBlock {
  position: relative;
  width: inherit;
  height: 4.6875vmax;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1600px) {
  .serchBlock {
    height: 5.20833vmax;
  }
}

@media (max-width: 1440px) {
  .serchBlock {
    height: 5.72917vmax;
  }
}

@media (max-width: 1280px) {
  .serchBlock {
    height: 7.8125vmax;
  }
}

@media (max-width: 1024px) {
  .serchBlock {
    height: 10.41667vmax;
  }
}

.serchBlock .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.serchBlock .wrapper .searchPannel {
  position: relative;
}

.serchBlock .wrapper .searchPannel .searchInput {
  width: 46.875vmax;
  height: 1.71875vmax;
  background-color: white;
  border: 0.05208vmax solid black;
  border-radius: 1.04167vmax;
  padding-left: 1.30208vmax;
  font-size: 1.04167vmax;
}

@media (max-width: 1600px) {
  .serchBlock .wrapper .searchPannel .searchInput {
    height: 2.08333vmax;
    font-size: 1.25vmax;
  }
}

@media (max-width: 1440px) {
  .serchBlock .wrapper .searchPannel .searchInput {
    height: 2.1875vmax;
  }
}

@media (max-width: 1280px) {
  .serchBlock .wrapper .searchPannel .searchInput {
    width: 57.29167vmax;
    height: 2.60417vmax;
    border-radius: 1.30208vmax;
    font-size: 1.5625vmax;
  }
}

@media (max-width: 1024px) {
  .serchBlock .wrapper .searchPannel .searchInput {
    width: 62.5vmax;
    height: 3.38542vmax;
    border-radius: 1.82292vmax;
    font-size: 1.82292vmax;
    padding-left: 1.82292vmax;
  }
}

.serchBlock .wrapper .searchPannel button {
  position: absolute;
  width: 3.125vmax;
  height: 100%;
  z-index: 1;
  right: 0;
  border-top-right-radius: 1.04167vmax;
  border-bottom-right-radius: 1.04167vmax;
  background-color: rgba(105, 12, 59, 0.479);
}

@media (max-width: 1600px) {
  .serchBlock .wrapper .searchPannel button {
    width: 3.38542vmax;
  }
}

@media (max-width: 1440px) {
  .serchBlock .wrapper .searchPannel button {
    width: 3.64583vmax;
  }
}

@media (max-width: 1280px) {
  .serchBlock .wrapper .searchPannel button {
    width: 4.6875vmax;
    border-top-right-radius: 1.30208vmax;
    border-bottom-right-radius: 1.30208vmax;
  }
}

@media (max-width: 1024px) {
  .serchBlock .wrapper .searchPannel button {
    width: 6.25vmax;
    border-top-right-radius: 1.82292vmax;
    border-bottom-right-radius: 1.82292vmax;
  }
}

.serchBlock .wrapper .searchPannel button svg {
  margin-top: 0.13021vmax;
  width: 1.40625vmax;
  height: 1.40625vmax;
}

@media (max-width: 1600px) {
  .serchBlock .wrapper .searchPannel button svg {
    height: 1.5625vmax;
    width: 1.5625vmax;
  }
}

@media (max-width: 1440px) {
  .serchBlock .wrapper .searchPannel button svg {
    height: 1.71875vmax;
    width: 1.71875vmax;
  }
}

@media (max-width: 1280px) {
  .serchBlock .wrapper .searchPannel button svg {
    height: 2.08333vmax;
    width: 2.08333vmax;
  }
}

@media (max-width: 1024px) {
  .serchBlock .wrapper .searchPannel button svg {
    height: 2.60417vmax;
    width: 2.60417vmax;
  }
}

.serchBlock .wrapper .searchPannel button:hover {
  background-color: rgba(105, 12, 59, 0.363);
}
