.wrapper {
  width: 75%;
  height: 100%;
}

@media (max-width: 1440px) {
  .wrapper {
    width: 80%;
  }
}

@media (max-width: 1280px) {
  .wrapper {
    width: 90%;
  }
}

@media (max-width: 1024px) {
  .wrapper {
    width: 98%;
  }
}

@media (max-width: 979px) {
  .wrapper {
    width: 100%;
  }
}

.searchResults, .searchResults__dark {
  text-align: center;
  font-size: 1.25vmax;
  font-weight: bold;
}

.searchResults__dark, .searchResults__dark__dark {
  color: white;
}
