@import '../../sass/mixins';
@import '../../sass/wrapper.scss';
@import '../../sass/media_mixin';

.moviesBlock {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: vmax(50);
    position: relative;
    // @include _886 { width: 100vw;}
    ul{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(5, 1fr);
        row-gap: vmax(70);
        column-gap: vmax(70);
        @include _1440{
            column-gap: vmax(15);
        }
        @include _1280{
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(4, 1fr);
            column-gap: vmax(10);
        }
        @include _1024{
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(3, 1fr);
            column-gap: vmax(0);
        }
        @include _768{
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            row-gap: vmax(90);
        }
        @include _600{
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(1, 1fr);
            row-gap: vmax(170);
        }
    }
}


.btnUp {
    position: fixed;
    top: 50%;
    left: 80%;
    width: vmax(300);
    height: vmax(300);
    background-color: white;
    border: 1px solid black;
}



