@import '../../sass/mixins';
@import '../../sass/media_mixin';

.history_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 90.7vh;
    &__title, &__title_dark  {
        padding-top: vmax(50);
        margin-bottom: vmax(50);
        font-size: 1.5em;
        @include _1280{font-size: 1.4em;}
        @include _1024{font-size: 1.3em;}
        @include _979{font-size: 1.6em; padding-top: vmax(90); margin-bottom: vmax(90);}
    }
    &__title_dark {
        color: white;
    }
}