@import '../../../sass/mixins';
@import '../../../sass/media_mixin';

.searchList {
    position: relative;
    z-index: 10;
}

.searchList__offers {
    background-color: white;
    position: absolute;
    top: vmax(-1);
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.searchList__item {
    background: #ffffff;
    border: vmax(1) solid rgb(206, 206, 206);
    border-top: none;
    padding: 0;
    width: vmax(883);
    @include _1440 { width: vmax(890);};
    @include _1280 { width: vmax(1085)}
    @include _1024 { width: vmax(1185)}
    @include _600 { width: vmax(950)}
    @include _480 {width: vmax(680)}
    &_loading,
    &_nothing, 
    &_error {
        text-align: center;
        background: #ffffff;
        border: vmax(1) solid rgb(206, 206, 206);
        border-top: none;
        width: vmax(883);
        padding: vmax(10);
    }
}

.searchList__item:first-child {
    padding-top: vmax(10);
}

.searchList__item:last-child,
.searchList__item_loading:last-child,
.searchList__item_nothing:last-child,
.searchList__item_error:last-child{
    border-bottom-left-radius: vmax(10);
    border-bottom-right-radius: vmax(10);
}

.searchList__item a, .searchList__item_nothing a {
    display: block;
    width: 100%;
    padding: vmax(12);
    font-size: vmax(16);
    margin: vmax(0);
    color: #000000;
    text-align: left;
    text-decoration: none;
    @include _1440 { font-size: 18px;  padding: 15px; }
    @include _1024 { font-size: 20px; }
}

.searchList__item a:hover {
    color: rgb(202, 0, 0);
    text-shadow: 0 0 vmax(.5) black;
}
