@import '../../sass/mixins';
@import '../../sass/media_mixin';

.movieCard{
    user-select: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    a {
        position: relative;
        border-radius: vmax(6);
        height: vmax(300); 
        transition: 0.3s ease;
        transform: scale(1.0);
        @include _1440{ height: vmax(330); }
        @include _1280{ height: vmax(400); }
        @include _1024{ height: vmax(500); }
        @include _979{ height: vmax(550); }
        @include _768{ height: vmax(650); }
        @include _600{ height: vmax(800); }
    }

    a:hover {
        transition: 0.3s ease;
        transform: scale(1.02);
        box-shadow: 0 0 vmax(2) 0 black;
    }
    
    .movieImg{
        height: 100%;
        cursor: pointer;
        width: auto;
        object-fit: cover;
        border-radius: vmax(5);
        animation: appear linear 1s;
    }     

    @keyframes appear {
        from {
            opacity: 0;
        } to {
            opacity: 1;
        }
    }
    
    .cardTextBlock__light, .cardTextBlock__dark {
        display: flex;
        align-self:flex-start;
        padding: 0 vmax(12);
        margin-top: vmax(18);
        flex-direction: column;
        justify-content: left;
        font-family: 'Source Sans Pro', sans-serif;
        line-height: vmax(25);
        width: 100%;
        text-align: left;
        @include _1600{ line-height: vmax(30); }
        @include _1440{ padding: 0 vmax(31);  line-height: 1.3em;}
        @include _1280{ padding: 0 vmax(80); line-height: 1.4em;}
        @include _1024{ padding: 0 20%; line-height: 1.5em; margin-top: vmax(30);}
        @include _768{ padding: 0 25%; line-height: 1.5em; margin-top: vmax(40);}
        @include _600{ padding: 0 30%; line-height: 1.7em;}
        p:nth-child(1) {
            font-size: vmax(20);
            font-weight: bold;
            margin-bottom: vmax(3);
            @include _1600{ font-size: 18px ;}
            @include _1440{ font-size: vmax(22);}
            @include _1280{ font-size: vmax(26)}
            @include _1024{ font-size: 1.2em;}
            @include _600{ font-size: 1.4em;}
            span{
                font-size: vmax(18);
                font-weight: inherit;
                margin-left: vmax(15);
            }
        }    
        p:nth-child(2) {
            span{
                margin: vmax(5);
            }
        }
    }
}

.cardTextBlock__dark {
    p:nth-child(1){
        span{
            color: rgb(224, 21, 89);
        }
    }
    p:nth-child(2) {
        color: rgb(218, 137, 32);
        span{
            color: gold;
        }
    }
}

.cardTextBlock__light {
    p:nth-child(1){
        color: black;
        span{
            color: rgb(170, 0, 57);
        }
    }
    p:nth-child(2) {
        color: rgb(0, 89, 97);
        span{
            color: rgb(230, 103, 0);
            text-shadow: 0 1px 1px black;
        }
    }
} 

.noImage {
    height: 100%;
    cursor: pointer;
    width: auto;
    object-fit: cover;
    border-radius: vmax(5);
}

strong {
    position: absolute;
    top: 60%;
    left: 50%; 
    transform: translateX(-50%);
    color: white;
    font-size: vmax(22);
}