@import '../../sass/mixins';
@import '../../sass/wrapper.scss';
@import url('https://fonts.googleapis.com/css2?family=Moon+Dance&display=swap');


.principalHeader__light, .principalHeader__dark {
    display: flex;
    justify-content: center;
    max-width: vmax(1920);
    height: vmax(90);
    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        div:nth-child(1){
            width: vmax(170);
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            user-select: none;
            .logoTextDark, .logoTextLight {
                font-size: vmax(42);
                font-weight: bold;
                margin-bottom: vmax(9);
                margin-left: vmax(10);
                font-family: 'Moon Dance', cursive;
            }
            .logoTextLight{
                color: darkred;
            }
            .logoTextDark {
                color: rgb(173, 192, 255);
                text-shadow: 0 0 15px rgb(255, 255, 255);

            }
        };
        .headerRightSideContent {
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .navBtnsBlock, .navBtnsBlock_user {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            .navBtnsBlock {
                width: vmax(220);
                margin-right: vmax(70);
            }
            .navBtnsBlock_user {
                width: vmax(370);
                margin-right: vmax(25);
            }
            .themeBtnBlock {                
                cursor: pointer;
                border-radius: vmax(3);
                display: flex;
                justify-self: end;
            }
            .themeButtonDark {
                width: vmax(30)
            }
            .themeButtonLight {
                width: vmax(35)
            }
            .emailStyle, .emailStyle_dark{
                user-select:  none;
                pointer-events: none;
                margin-right: vmax(25);
                font-size: vmax(20);
            }
            .emailStyle_dark { color: rgb(239, 230, 255)}
        }

    }
}

.principalHeader__light {
    box-shadow: 0 0 vmax(4) 0 black;
}   


.logo {
    width: 40%;
    height: 80%;
}


