@import '../../sass/mixins';
@import '../../sass/wrapper.scss';

.searchResults, .searchResults__dark {
    text-align: center;
    font-size: vmax(24);
    font-weight: bold;
    &__dark {
        min-height: 90.7vh;
        color: white;
    }
}