@import '../../sass/mixins';
@import '../../sass/wrapper.scss';
@import '../../sass/media_mixin';

.searchPage {
    min-height: 90.7vh;
    h3 {
        font-size: 24px;
        font-weight: bold;
        @include _768 { margin-bottom: 100px; }
    }
}

.searchResults, .searchResults__dark {
    text-align: center;
    font-size: 22px;
    margin: 30px;
    @include _768 { margin: 0;}
}

.searchResults__dark {
    color: white;
}

